.class-container {

}

.group-photo {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: top;
  margin: 0 auto;
  width: 90%;
  background: #5573D6;
  padding: 10px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.label {
  font-size: 1.2em;
  font-weight: 900;
}

h2, h4 {
  margin: 0;
}

h3, h4 {
  font-family: "Open Sans";
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

.exec hr {
  width: 100%
}

.exec p {
  margin-bottom: 0;
  font-size: 0.75em;
  text-align: left;
}

.exec-label {
  text-decoration: underline;
}


.container hr, .alt-class-container hr {
  margin: 10px;
}

.container hr:first-of-type {
  margin: 10px;
}

.alt-class-container .exec {
  border-radius: 5px;
}

.name, .title {
  text-align: center;
  margin: 0;
}

.thumbnail {
  border-radius: 5px;
}

.container {
  margin-bottom: 20px;
}

@media screen and (max-width:768px) {

}

@media all and (min-width: 992px) {
  .class-container {
    display: flex;
    justify-content: center;
  }

  .group-photo {
    margin: 0;
    max-height: 400px;
    width: auto;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }

  .caption {
    margin: 0;
    max-width: 400px;
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }

  .alt-class-container .alt-class-container {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width:991px) {
  p, .exec p { font-size: 1.2em; }
}

@media all and (min-width: 992px) and (max-width:1199px) {
  .group-photo { max-height: 300px; }
  .caption { height: 300px; }
  .beta-alpha { font-size: 0.6em; }

  .alt-class-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 850px;
  }
}

@media all and (min-width: 1200px) {
  .group-photo { height: 450px; max-height: 450px; }
  .caption { height: 450px; }

  .alt-class-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1075px;
  }
}

section:first-of-type, .nav-padding {
  padding-bottom: 0;
}
